---
import ArchiveNav from "../../components/ArchiveNav.astro";
import Base from "../../layouts/Base.astro";
import MainSection from "../../layouts/MainSection.astro";

//get the years where at least a post has been published
const posts = await Astro.glob('../../articles/*.md');
const postYearDates = posts.map(post =>
  new Date(post.frontmatter.pubDate).getFullYear()
);
const yearsContainingPosts = [...new Set(postYearDates)].sort((a, b) => b - a);

---
<style>
  li {
    list-style: disc;
    margin-bottom: .2em;
  }

  a {
    color: var(--tertiary-color);
    font-size: 1.5em;
    font-weight: bold;
  }
</style>

<Base>
  <MainSection title="Archive">

    <section id="post-years">
      <ul>
        {yearsContainingPosts.map((year, i) =>
          <li><a href={`${import.meta.env.BASE_URL}/posts/${year}`}>{year}</a></li>
        )}
      </ul>
    </section>
  </MainSection>
</Base>
