---
import ArchiveNav from "../../components/ArchiveNav.astro";
import Base from "../../layouts/Base.astro";
import MainSection from "../../layouts/MainSection.astro";
const iconFiles = await Astro.glob("../../../public/icons/nav/highlight/*.png");
//get the years where at least a post has been published
const posts = await Astro.glob('../../articles/*.md');
const postYearDates = posts.map(post =>
  new Date(post.frontmatter.pubDate).getFullYear()
);
const yearsContainingPosts = [...new Set(postYearDates)].sort((a, b) => b - a);
---
<style>
  li {
    list-style: disc;
    margin-bottom: .2em;
  }

  a {
    color: var(--tertiary-color);
    font-size: 1.5em;
    font-weight: bold;
  }
</style>

<!-- highlight current page icon -->
<style is:global>
  nav li:nth-of-type(1) > a {
    background-image: url("../../../public/icons/nav/highlight/archive-highlight.png") !important;
  }

  @media screen and (min-width: 768px) {
    nav li:nth-of-type(1) > a {
      background-image: none !important;
      color: var(--post-color);
    }

    nav li:nth-of-type(1) > a::before {
      content: url("../../../public/icons/nav/highlight/archive-highlight.png") !important;
    }
  }
</style>

<Base>
  <MainSection title="Archive">

    <section id="post-years">
      <ul>
        {yearsContainingPosts.map((year, i) =>
          <li><a href={`${import.meta.env.BASE_URL}posts/${year}`}>{year}</a></li>
        )}
      </ul>
    </section>
  </MainSection>
</Base>
