---
import Base from "../layouts/Base.astro";
import MainSection from "../layouts/MainSection.astro";
---

<style>
  img {
    width: 100%;
  }

  hr {
    border: solid 1px black;
    width: 30%;
    margin: 1.2em auto;
  }

  p {
    margin-top: 0;
  }

  .about-main {
    margin: 3em;
    background-color: var(--post-color);
  }
</style>

<!-- highlight current page icon -->
<style is:global>
  nav li:nth-of-type(3) > a {
    background-image: url("../../../public/icons/nav/highlight/bio-highlight.png") !important;
  }

  @media screen and (min-width: 768px) {
    nav li:nth-of-type(3) > a {
      background-image: none !important;
      color: var(--post-color);
    }

    nav li:nth-of-type(3) > a::before {
      content: url("../../../public/icons/nav/highlight/bio-highlight.png") !important;
    }
  }
</style>

<Base>
  <MainSection title="A blog about F1 and motorsport.">
    <article>
      <img src="monza-podium.jpg" alt="profile_pic" />
      <small><i>Photo: Monza 2018 podium</i></small>
      <hr />
      <p>
        Welcome to my MotorSport musings! I created this online space to share my thoughts and commentary on the latest happenings in motorsport. Mostly Formula 1, but not exclusively.

        The main purpose of this site is to amuse myself (hence the name) by sharing my opinions in a format that allows for longer, more thoughtful pieces than social media typically permits.

        I also developed this website myself. So, in addition to publishing content related to F1 and motorsport, I'm using this project as a way to sharpen my front-end development skills. In that sense, this site serves a dual purpose: combining my passion for both Formula 1 and web development.

        If you find these articles useful or entertaining, feel free to share them online or on social media. Happy reading!
      </p>
    </article>
  </MainSection>
</Base>
