---
import Base from "../layouts/Base.astro";
import MainSection from "../layouts/MainSection.astro";
---

<style></style>

<Base>
  <MainSection title="Hi! I’m Gabriele and i am a front-end developer. ">
    <article>
      <img src="https://live.staticflickr.com/4113/5436384957_e8492b42de_b.jpg" alt="profile_pic" />
      <hr />
      <p>
        Welcome to my blog! I'm Gabriele, a webdev enthusiast. I decided to create this online space to share my experiences, ideas and opinions on everything that interests me.
        In this blog you will find posts about a bit of everything, but there will also be articles and reflections on other topics that are close to my heart.
        Through this blog I hope to create a community of people who share my same passions and interests, with whom I can exchange opinions and ideas. I am always open to new collaborations and proposals to improve the blog, so do not hesitate to contact me!
        Thank you for your visit and I hope that my blog can become a point of reference for all those who want to stay updated.
      </p>
    </article>
  </MainSection>
</Base>
