---
import Base from "../layouts/Base.astro";

---

<style>

</style>

<Base>
	<article>
        <h1>Ciao, sono Gabriele e sono un front-end developer.</h1>
        <img src="" alt="profile_pic">
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sunt quidem, vel sit minus, at officia expedita ipsum dicta suscipit, iste totam quod facere veniam molestiae? Facilis quis in expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia eius architecto, nisi corporis molestiae? Exercitationem, tempore deserunt odit ut nulla quisquam consequuntur blanditiis praesentium nostrum, voluptatibus assumenda vitae recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque maiores quibusdam omnis a facere incidunt recusandae, nesciunt minima expedita nostrum libero distinctio facilis quas? Excepturi impedit laborum corporis saepe atque.</p>
    </article>
</Base>