---
import Base from "../layouts/Base.astro";
import MainSection from "../layouts/MainSection.astro";
const posts = await Astro.glob("../articles/*.md");
const images = posts.filter(post => post.frontmatter.image).map((post) => post.frontmatter.image);
import "../style.css";
---

<style>
  ul {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
  }

  img {
    width: 100%;
  }

  dialog {
    color: white;
    background-color: black;
    border: none;
    width: 320px;
    padding: 4em 2em 2em 2em;
    /* overflow: hidden; */
  }

  dialog::backdrop {
    background-color: rgba(100, 100, 100, 0.95);
  }

  dialog #title {
    font-size: 1.2em;
  }

  dialog #tags {
    font-size: .8em;
  }

  dialog h3, dialog h3 + p {
    margin: 0;
    color: #999;
  }

  dialog h3 + p {
    font-style: italic;
  }

  dialog button {
    /* position: relative; */
    top: 60px;
    background-color: var(--secondary-color);
    padding: 1em;
    margin-top: 2em;
    border: none;
    font-size: 1em;
  }

  dialog button:nth-of-type(1) {
    margin-right: 23px;
  }

  dialog button > a {
    color: white;
    text-decoration: none;
  }

  dialog button#close {
    padding: revert;
    margin-top: revert;
    position: absolute;
    top: 15px;
    right: 32px;
    color: transparent;
    background-color: transparent;
    background-image: url('../../public/icons/close.png');
    background-size: cover;
    border: none;
    height: 29px;
    width: 29px;
  }
</style>

<!-- highlight current page icon -->
<style is:global>
  nav li:nth-of-type(2) > a {
    background-image: url("../../../public/icons/nav/highlight/gallery-highlight.png") !important;
  }
</style>

<Base>
  <MainSection title="Images from all posts">
    <dialog class="modal">
      <img src="" alt="image" />
      <h2 id="title">Title</h2>
      <p>
        <span id="date"></span>
        <span id="tags"></span>
      </p>
      <p id="description">description</p>
      <h3>License</h3>
      <p><small id="license">license</small></p>
      <button><a href="#" id="read-article">Read article</a></button>
      <button><a href="#" id="view-image" target="_blank">View Image</a></button>
      <button id="close">close</button>
    </dialog>

    <ul>
      {
        images.map((image) => (
          <li>
            <img src={image.url} alt={image.alt} />
          </li>
        ))
      }
    </ul>
  </MainSection>
</Base>

<script>
  //@ts-nocheck
  import formatDate from "../utils/scripts/date.js";
  import { getPostURL } from "../utils/scripts/utils"
  const dialog = document.querySelector("dialog");
  const images = document.querySelectorAll("li > img");
  const closeButton = document.querySelector("dialog > button#close");
  const posts = Object.values(
    import.meta.glob("../articles/*.md", { eager: true }),
  ).filter(post => post.frontmatter.image);

  closeButton.addEventListener("click", () => dialog.close());

  function showGalleryModal(post) {
    document.querySelector('dialog img').src = post.frontmatter.image.url;
    document.querySelector('#title').innerText = post.frontmatter.title;
    document.querySelector('#date').innerText = formatDate.USADate(new Date(post.frontmatter.pubDate));
    document.querySelector('#tags').innerText = `${post.frontmatter.tags.reduce(
      (string, tag) => `${string} #${tag} `
    , "")}`;
    document.querySelector('#description').innerText = post.frontmatter.description;
    document.querySelector('#license').innerHTML = `
      <small>
        ${post.frontmatter.image.license || "Not provided"}
      </small>`;
    document.querySelector('button #read-article').href = getPostURL(post);
    document.querySelector('button #view-image').href = post.frontmatter.image.url;
    dialog.showModal();
  }

  images.forEach((image, i) =>
    image.addEventListener("click", () => showGalleryModal(posts[i])),
  );
</script>
