---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Base from "../layouts/Base.astro";
const posts = await Astro.glob('./posts/**/*.md');
const images = posts.map(post => post.frontmatter.image);

---
<style>
  img {
    width: 50%;
  }
</style>

<Base>
  <Breadcrumbs paths={[{name: 'gallery', href: '/gallery'}]}/>
  <ul>
    {images.map(image =>
    <li>
      <img src={image.url} alt={image.alt}>
    </li>
  )}
  </ul>
</Base>
