---
const { paths } = Astro.props;
const current = paths.pop();
---
<nav>
    <p id="breadcrumbs">
      <a href="/">home</a>

      <img src="/icons/chevron-right.png" alt=">">
      <script>
        import { getHistory } from "../scripts/breadcrumb";
        const history = getHistory();
        const breadcrumbs = document.querySelector('#breadcrumbs');

        const text = document.createTextNode(history[0]);
        breadcrumbs.appendChild(text);
      </script>
</nav>
