---
---
<style>
  footer {
    color: white;
    background-color: black;
    padding: 1em;
  }

  ul {
    padding: 1em;
    margin: 0;
  }

  li {
    margin-bottom: .2em;
  }

  a {
    color: white;
  }

  li:nth-child(1), li:nth-child(2) {
    font-size: 1.5em;
  }
</style>

<footer>
  <ul>
    <li><a href={`${import.meta.env.BASE_URL}`}>Home</a></li>
    <li><a href={`${import.meta.env.BASE_URL}about`}>About</a></li>
    <li>icons by <a target="_blank" href="https://icons8.com">Icons8</a></li>
    <li>Gabriele Di Grazia, {new Date().getFullYear()}</li>
  </ul>
</footer>
