---
const currentYear = new Date().getFullYear();
---

<style></style>

<nav>
  <a href="/"><img src="/logo.png" alt="logo" /></a>
  <ul>
    <li>
      <a href=`/archive/${currentYear}`>
        <img title="Post archive" src="/icons/archive.png" /></a
      >
    </li>
    <li>
      <a href="/gallery">
        <img title="some images" src="/icons/gallery.png" /></a
      >
    </li>
    <li>
      <a href="/about"> <img title="about me" src="/icons/bio.png" /></a>
    </li>
    <li>
      <button> <img title="search" src="/icons/search.png" /></button>
    </li>
  </ul>
</nav>
