---
import { searchButtonLabel } from "../utils/constants";
import Search from "./Search.astro";

const currentYear = new Date().getFullYear();
---

<style></style>

<nav>
  <a href="/"><img src="/logo-small.png" alt="logo" /></a>
  <ul>
    <li>
      <a href=`/posts/${currentYear}`>
        All posts
        <!-- <img title="All posts" src="/icons/archive.png" /> -->
      </a>
    </li>
    <li>
      <a href="/gallery">
        Images
        <!-- <img title="some images" src="/icons/gallery.png" /> -->
      </a>
    </li>
    <li>
      <a href="/about">
        About
        <!-- <img title="about me" src="/icons/bio.png" /> -->
      </a>
    </li>
    <li>
      <button id="search">
        {searchButtonLabel}
        <!-- <img title="search" src="/icons/search.png" /> -->
      </button>
    </li>
  </ul>
</nav>
