---
const posts = await Astro.glob("../pages/posts/**/*.md");
---
<script>
  const root = document.querySelector('#search-root');
  const searchButton: HTMLButtonElement = document.querySelector('button#search');
  const searchSection: HTMLElement = document.querySelector('section#search');
  const searchBar: HTMLInputElement = document.querySelector('section#search > input');
  import { searchButtonLabel } from "../utils/constants";
  import formatDate from '../utils/scripts/date.js';
  const posts = JSON.parse(searchSection.dataset.posts);

  function toggleSearchSection() {
    const isHidden = searchSection.style.display === 'none';
    root.innerHTML = '';

    searchSection.style.display = isHidden ? 'revert' : 'none';
    searchButton.textContent = isHidden ? 'Close search' : searchButtonLabel;
  }

  function render(){
    root.innerHTML = '';
    let result = '';

    const template = post => `
      <li>
        <h2>${post.frontmatter.title}</h2>
        <p>
          ${formatDate.USADate(new Date(post.frontmatter.pubDate))}
          <span class="tags">
            ${post.frontmatter.tags.map((tag) => ` #${tag}`)}
          </span>
        </p>
        <p>${post.frontmatter.description}</p>
        <hr />
      </li>
    `;

    if (searchBar.value) {
     posts.forEach(post => {
      const title = post.frontmatter.title.toLowerCase();
      const tags = post.frontmatter.tags.join('');

      if (title.includes(searchBar.value) || tags.includes(searchBar.value))
        result += template(post);
     });

     root.innerHTML = result === '' ? 'No articles found' : result;
    }
  }


  searchBar.addEventListener('keyup', render);
  searchButton.addEventListener('click', toggleSearchSection);
</script>

<section id="search" style="display: none;" data-posts={JSON.stringify(posts)}>
  <input type="text" placeholder="Search by article name or tag" />
  <h2>Search results</h2>
  <ul id="search-root"></ul>
</section>
